body
  background-color: red

.card
  max-width: 200px
  background-color: blue
  height: 400px
  margin: 0 auto
  border:
    // radius: 50px
    radius: 20%

.card2
  max-width: 200px
  background-color: blue
  height: 400px
  margin: 0 auto
  border:
    radius: 50px
    // radius: 20%
